language: python
python:
  - 3.7
  - 3.8

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set show_channel_urls true
  - conda update -n base conda
  - conda config --prepend channels conda-forge
  - conda create -n TEST --strict-channel-priority python=$TRAVIS_PYTHON_VERSION --file requirements.txt --file requirements-dev.txt
  - source activate TEST
  - conda info --all
  
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest