geopandas=0.12.2=pypi_0
mapclassify=2.5.0=pypi_0
matplotlib=3.6.3=pypi_0
networkx=3.0=pypi_0
numpy=1.24.1=pypi_0
osmnx=1.3.0=pypi_0
pandas=1.5.3=pypi_0
pyproj=3.4.1=pypi_0
python=3.10.9=h966fe2a_0
python-louvain=0.16=pypi_0
pyvista=0.37.0=pypi_0
shapely=2.0.0=pypi_0
tqdm==4.64.1=pypi_0

